body{
    background-color: #111;
    color: #fff;
    font-family: 'Arial', sans-serif;
    margin: 0;
}
#shopDiv {
    height: 100%;
}

.shop-container {
    display: flex;
    height: 100vh;
    padding: 20px;
    gap: 20px;
    box-sizing: border-box;
    width: 100vw;
}

.shop-info {
    flex-basis: 25%;
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #333;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
}

.shop-purchases {
    flex-basis: 65%;
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #333;
    display: flex;
    flex-direction: column;
    height: 80%;
}


h1, h3 {
    color: #ffcc00;
}

.score, .multipliers, .run-info, .bottom-info {
    margin-top: 20px;
    padding: 10px;
    background-color: #333;
    border-radius: 5px;
}

.next-round {
    width: 100%;
    padding: 15px;
    background-color: #4CAF50;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
}
.upgrade-list{
    flex: 1; /* Occupa spazio equamente */
}

.upgrade-slot {
    background-color: #444;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}


.pianeti{
    display: grid;  
    grid-template-columns: 1fr 1fr;
}

.pianeti-slot{
    background-color: #444;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;

}
